---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Qui suis-je?"
	description="Quelques mots sur mes motivations"
	pubDate={new Date('September 26 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Pourquoi je veux faire ce blog? Pourquoi pas!?
	</p>
</Layout>
